@font-face {
  font-family: blenda;
  src: url("../font/Blenda_Script.otf");
}

html, body {
  height: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
}

table {
  width: 450px;
  height: 350px;
}

input[type="button"] {
  background-color: rgba(256, 256, 256, 0.8);
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 8%;
  font-family: blenda;
  font-size: 20px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

input[type="button"]:hover {
  background-color: rgba(256, 256, 256, 0.4);
}

input[type="button"]:active {
  background-color: rgba(200, 200, 200, 0.5);
}

input[type="text"] {
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  width: 50%;
  height: 50px;
  width: 400px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.calcTable {
  background-color: rgba(256, 256, 256, 0.6);
  border-radius: 2%;
  width: 450px;
  height: 425px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

#ans {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.panel {
    display: table;
    margin: 0;
    padding: 0 0;
}

.panel .inner {
    display: table-cell;
    vertical-align: middle;
}

.backgroundimg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

#back1 {
    background: url("http://i.imgur.com/0hlSJaQ.png") no-repeat center;
    background-size: cover;

}

#back2 {
    background: url("http://i.imgur.com/VUztXi7.png") no-repeat center;
    background-size: cover;
}

#back3 {
    background: url("http://i.imgur.com/8kiFrPw.png") no-repeat center;
    background-size: cover;
}

#back4 {
    background: url("http://i.imgur.com/XiFd5wI.jpg") no-repeat center;
    background-size: cover;
}

#back5 {
    background: url("http://i.imgur.com/6iCEMm7.png") no-repeat center;
    background-size: cover;
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#backgroundchange div:nth-of-type(1) {
  animation-delay: 24s;
  -webkit-animation-delay: 24s;
}
#backgroundchange div:nth-of-type(2) {
  animation-delay: 18s;
  -webkit-animation-delay: 18s;
}
#backgroundchange div:nth-of-type(3) {
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}
#backgroundchange div:nth-of-type(4) {
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}

#backgroundchange div:nth-of-type(5) {
  animation-delay: 0;
  -webkit-animation-delay: 0;
}

#backgroundchange div {
animation-name: backgroundchangeFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 24s;

-webkit-animation-name: backgroundchangeFadeInOut;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 24s;
}
