html, body {
  height: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
}

input[class="button1"] {
  background-color: rgba(256, 256, 256, 0.8);
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 8%;
  font-family: "Lobster";
  font-size: 22px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

input[class="button1"]:hover {
  background-color: rgba(256, 256, 256, 0.4);
}

input[class="button1"]:active {
  background-color: rgba(200, 200, 200, 0.5);
}

input[type="text"] {
  font-family: sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 15px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}

input[class="button2"] {
  background-color: rgba(256, 256, 256, 0.8);
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 8%;
  font-family: "Lobster";
  font-size: 22px;
  width: 100px;
  height: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

input[class="button2"]:hover {
  background-color: rgba(256, 256, 256, 0.4);
}

input[class="button2"]:active {
  background-color: rgba(200, 200, 200, 0.5);
}

#ans1 {
  font-size: 30px;
  height: 50px;
  width: 400px;
}

#ans2 {
font-size: 20px;
height: 30px;
width: 250px;
}

#calcTable1 {
  height: 425px;
  width: 450px;
}

#calcTable2 {
 height: 360px;
 width: 300px;
}

#calcTable1, #calcTable2 {
  background-color: rgba(256, 256, 256, 0.6);
  border-radius: 2%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

#calcButtons {
  height: 50px;
  width: 230px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 60%; right: 0;
}

#calcButtonsTable {
  height: inherit;
  width: inherit;
  text-align: center;
}

#scientificTable {
  z-index: 3;
  width: 450px;
  height: 350px;
  text-align: center;
}

#standardTable {
  z-index: 3;
  width: 300px;
  height: 300px;
  text-align: center;
}

#formulaBox {
  z-index: 2;
  width: 485px;
  height: 650px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  background: url('http://i.imgur.com/ytbsqKu.png') no-repeat center;
  background-size: cover;
  margin: auto;
  position: absolute;
  top: 0; left: 60%; bottom: 0; right: 0;
}

#formulaButton {
  z-index: 2;
  width: 100px;
  height: 50px;
  margin: auto;
  position: absolute;
  top: 60%; left: 0; bottom: 0; right: 0;
}

.panel {
    display: table;
    margin: 0;
    padding: 0 0;
}

.panel .inner {
    display: table-cell;
    vertical-align: middle;
}

.backgroundimg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#back1 {
    background: url("http://i.imgur.com/P2C0cNP.png") no-repeat center;
    background-size: cover;
}

#back2 {
    background: url("http://i.imgur.com/VUztXi7.png") no-repeat center;
    background-size: cover;
}

#back3 {
    background: url("http://i.imgur.com/r2QrAMK.jpg") no-repeat center;
    background-size: cover;
}

#back4 {
    background: url("http://i.imgur.com/XiFd5wI.jpg") no-repeat center;
    background-size: cover;
}

#back5 {
    background: url("http://i.imgur.com/6iCEMm7.png") no-repeat center;
    background-size: cover;
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#backgroundchange div:nth-of-type(1) {
  animation-delay: 28s;
  -webkit-animation-delay: 28s;
}
#backgroundchange div:nth-of-type(2) {
  animation-delay: 21s;
  -webkit-animation-delay: 21s;
}
#backgroundchange div:nth-of-type(3) {
  animation-delay: 14s;
  -webkit-animation-delay: 14s;
}
#backgroundchange div:nth-of-type(4) {
  animation-delay: 7s;
  -webkit-animation-delay: 7s;
}
#backgroundchange div:nth-of-type(5) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#backgroundchange div {
animation-name: backgroundchangeFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 35s;

-webkit-animation-name: backgroundchangeFadeInOut;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 35s;
}
